@import "./brand-kit/design-tokens.css";
@import "./brand-kit/fonts.css";

:root {
  color-scheme: light;
}

* {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: var(--font-body);
}
